aiosqlite
annotated-types
anyio
APScheduler
certifi
click
colorama
distro
exceptiongroup
fastapi
h11
httpcore
httptools
httpx
idna
iso8601
jiter
loguru
msgpack
multidict
nonebot-adapter-onebot
nonebot-plugin-apscheduler
nonebot2
openai
propcache
pydantic
pydantic_core
pygtrie
pypika-tortoise
python-dotenv
pytz
PyYAML
sniffio
starlette
tomli
tortoise-orm
tqdm
typing_extensions
tzdata
tzlocal
uvicorn
watchfiles
websockets
win32_setctime
yarl
